<div class="p-5 text-white mb-4 bgsecondary">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome in Myblog</h1>
      <p class="col-md-8 fs-4">Blog berisi tentang tutorial tutorial pemrograman dan beberapa topik mengenai teknologi terkini</p>
      <button class="btn btn-primary btn-lg" type="button">Let's go</button>
    </div>
</div>