<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>{{ page.title }}</title>
<!-- Primary Meta Tags -->
<meta name="title" content="{{ page.title }}">
<meta name="description" content="{{ page.excerpt }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ relative_url }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.excerpt }}">
<meta property="og:image" content="{{ page.image }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ relative_url }}">
<meta property="twitter:title" content="{{ page.title }}">
<meta property="twitter:description" content="{{ page.excerpt }}">
<meta property="twitter:image" content="{{ page.image }}">

<link rel="stylesheet" href="{{ 'assets/css/highlight.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ 'assets/css/base.css' | relative_url }}">
<script src="{{ '/assets/js/highlight.min.js' | relative_url }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ 'assets/site.webmanifest' | relative_url }}">

<!-- SEO -->
{% include analytics.html %}