<nav class="navbar navbar-expand-lg navbar-dark bgprimary">
    <div class="container">
      <a class="navbar-brand" href="/">Farhan Roy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Beranda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ relative_url }}/tutorial">Tutorial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ relative_url }}/language">Bahasa Pemrograman</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/channel/UCLX_jAbCUetyN4FEHo1r40Q">Video</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>