img {
    max-width: 100%;
    max-height: auto;
    padding: 30px;
}

#content {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#content p {
    color: rgba(0, 0, 0, 0.84);
    font-size: 16px;
    font-feature-settings: "liga" 0;
    line-height: 1.8;
}

#content h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.8;
    font-weight: bold;
}