.vegan-list {
    list-style: none;
    margin-top: 50px;
    counter-reset: vegan-list-number;
}

.vegan-list li { position: relative; margin-bottom: 20px;}

.vegan-list li::before, .vegan-list li::after {
  content: '';
  display:inline-block;
  vertical-align: middle;
  height: 32;
  line-height: 32px;
  width: 32px;
  background: #2C394B;
  border-radius: 40px;
  font-size: 1em;
  color: #FFF;
  text-align: center;
}

.vegan-list li::before {
  content: counter(vegan-list-number, decimal);
  counter-increment: vegan-list-number;
  margin-right: 20px;
}

.vegan-list li a {
    text-decoration: none;
}

.vegan-list li::after {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  transform: rotate(45deg);
}

a {
  text-decoration: none;
  color: black;
}