<!DOCTYPE html>
<html lang="en">

<header>
  {%- include header.html -%}
</header>

<body>

  <!-- Assign post data -->
  {% assign posts = site.posts %}

  <!-- Nav header component -->
  {%- include nav.html -%}

  <!-- Jumbotron -->
  {%- include head.html -%}

  <main>
    <div class="container mt-3">

      <!-- Text title section -->
      <h2>Artikel terbaru</h2>
      <p class="fs-5 fw-light">Baca artikel tentang teknologi terkini</p>

      <!-- Post list -->
      <div class="row row-cols-1 row-cols-md-4 g-4 mb-5 mt-3">
        {%- for post in posts limit:8 -%}
          {% if post.categories[0] != "tutorials"%}
          <div class="col">
            <div class="card h-100">
              <img src="{{ post.image }}" class="card-img-top" alt="https://placeimg.com/640/480/any">
              <div class="card-body">
                <a class="card-title text-dark" href="{{ post.url }}" style="text-decoration: none;"> {{ post.title }}</a>
                <p class="card-text text-secondary small mt-2">{{ post.excerpt }}</p>
              </div>
            </div>
          </div>
          {% endif %}
        {%- endfor -%}
      </div>
    </div>

  </main>

  <!-- Footer -->
  {%- include footer.html -%}
</body>

</html>