<!DOCTYPE html>
<html lang="en">

<style>
  a {
    text-decoration: none !important;
  }
</style>

<header>
  {%- include header.html -%}
</header>

<body>

  <!-- Nav header component -->
  {%- include nav.html -%}

  <!-- Jumbotron -->
  <div class="p-5 rounded-3" style="background-color: #fff0ed;">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-semibold text-center">Belajar apa kamu hari ini ?</h1>
    </div>
  </div>

  <main style="background-color: #fffdfc;">
    <div class="row row-cols-1 d-flex justify-content-between mt-5">
      <div class="col-md-12 col-lg-8 mx-auto mb-4">
        <div class="card shadow-lg border-white" tabindex="0">
          <div class="card-body p-4 d-flex flex-column flex-md-row align-items-center">
            <div>
              <a href="/language/kotlin/">
                <picture>
                  <img
                    src="https://ik.imagekit.io/u8uufhbnoej/blog/tutorials/belajar-bahasa-kotlin/logo_RN_bpz_-2.png?updatedAt=1636170706003"
                    class="rounded mb-4 mb-md-0" alt="Belajar bahasa Kotlin"
                    style="object-fit:cover;width:140px;height:140px">
                </picture>
              </a>
            </div>
            <div class="mx-md-4">
              <h2 class="h5"><a class="text-dark" href="/language/kotlin">Belajar bahasa Kotlin untuk
                  Pemula</a></h2>
              <p><small class="text-muted">By Farhan Roy</small></p>
              <p class="small text-secondary">Pada tutorial ini, kamu akan belajar tentang Bahasa Kotlin dari awal.
                Tutorial ini sangat cocok bagi kalian yang baru ingin belajar bahasa pemrograman khususnya kotlin.</p>
            </div>


          </div>
        </div>



      </div>

      <div class="col-md-12 col-lg-8 mx-auto mb-4">
        <div class="card shadow-lg border-white" tabindex="0">
          <div class="card-body p-4 d-flex flex-column flex-md-row align-items-center">
            <div>
              <a href="/language/typescript/">
                <picture>
                  <img
                    src="https://ik.imagekit.io/u8uufhbnoej/blog/tutorials/belajar-bahasa-typescript/Frame_3_Eu7FhP3_P.png?updatedAt=1637306971938"
                    class="rounded mb-4 mb-md-0" alt="Belajar bahasa Typescript"
                    style="object-fit:cover;width:140px;height:140px">
                </picture>
              </a>
            </div>
            <div class="mx-md-4">
              <h2 class="h5"><a class="text-dark" href="/language/typescript">Belajar bahasa Typescript untuk
                  Pemula</a></h2>
              <p><small class="text-muted">By Farhan Roy</small></p>
              <p class="small text-secondary">Typescript adalah satu dari beragam jenis bahasa pemrograman yang
                digunakan untuk membuat sebuah website atau aplikasi.</p>
            </div>


          </div>
        </div>



      </div>

      

      <div class="col-md-12 col-lg-8 mx-auto mb-4">
        <div class="card shadow-lg border-white" tabindex="0">
          <div class="card-body p-4 d-flex flex-column flex-md-row align-items-center">
            <div>
              <a href="/language/go/">
                <picture>
                  <img
                    src="https://ik.imagekit.io/u8uufhbnoej/blog/tutorials/belajar-bahasa-go/Frame_5_rKjj9yCqF1L.png?updatedAt=1637306955519"
                    class="rounded mb-4 mb-md-0" alt="Belajar bahasa Typescript"
                    style="object-fit:cover;width:140px;height:140px">
                </picture>
              </a>
            </div>
            <div class="mx-md-4">
              <h2 class="h5"><a class="text-dark" href="/language/go">Belajar bahasa Go untuk
                  Pemula</a></h2>
              <p><small class="text-muted">By Farhan Roy</small></p>
              <p class="small text-secondary">Golang menjadi bahasa yang hype akhir akhir ini, terutama dalam kategori
                backend, banyak sekali programmer yang sudah menggunakan Go untuk mengembangkan aplikasinya</p>
            </div>


          </div>
        </div>
      </div>


        <div class="col-md-12 col-lg-8 mx-auto mb-4">
          <div class="card shadow-lg border-white" tabindex="0">
            <div class="card-body p-4 d-flex flex-column flex-md-row align-items-center">
              <div>
                <a href="/language/dart/">
                  <picture>
                    <img
                      src="https://ik.imagekit.io/u8uufhbnoej/blog/tutorials/belajar-bahasa-dart/Frame_2_P71I0YKr-.png?updatedAt=1637306883472"
                      class="rounded mb-4 mb-md-0" alt="Belajar bahasa Dart"
                      style="object-fit:cover;width:140px;height:140px">
                  </picture>
                </a>
              </div>
              <div class="mx-md-4">
                <h2 class="h5"><a class="text-dark" href="/language/go">Belajar bahasa Dart</a></h2>
                <p><small class="text-muted">By Farhan Roy</small></p>
                <p class="small text-secondary">Dart adalah bahasa pemrograman untuk mengembangkan aplikasi hybird
                  menggunakan Framework Flutter</p>
              </div>


            </div>
          </div>


        </div>
  </main>

  <!-- Footer -->
  {%- include footer.html -%}
</body>

</html>