<!DOCTYPE html>
<html lang="en">

<header>
    {%- include header.html -%}

    <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/js/highlight.min.js' | relative_url }}">
</header>

<body class="bg-light">

    <!-- Nav header component -->
    {%- include nav.html -%}

    <div class="container mb-5 mt-3">
        <div class="row justify-content-center">
            <!-- Card body -->
            <div class="col-sm-12 col-lg-7 mb-5 mt-5 card px-5 py-5">
                <div class="d-sm-none d-lg-block d-print-none" style="position:absolute;left:-2.5em;top:0;height:100%">
                    <div class="sticky-top text-center" style="top:25vh">
                        <nav>
                            <a class="d-block text-secondary" aria-label="Go to top" href="#top"
                                data-turbolinks="false">
                                <i class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="currentcolor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                                        <title>Scroll ke atas</title>
                                        <path fill-rule="evenodd"
                                            d="M1 8a7 7 0 1014 0A7 7 0 001 8zm15 0A8 8 0 110 8a8 8 0 0116 0zm-7.5 3.5a.5.5.0 01-1 0V5.707L5.354 7.854a.5.5.0 11-.708-.708l3-3a.5.5.0 01.708.0l3 3a.5.5.0 01-.708.708L8.5 5.707V11.5z">
                                        </path>
                                    </svg>
                                </i>
                            </a>
                            <a class="d-block mt-3 text-secondary" aria-label="Share to Facebook"
                                href="https://www.facebook.com/sharer/sharer.php?u=https://www.petanikode.com/tutorial-html-vibrations/"
                                target="_blank" rel="noopener">
                                <i class="icon"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <title>Share ke Facebook</title>
                                        <path
                                            d="M24 12C24 5.37187 18.6281.0 12 0 5.37187.0.0 5.37187.0 12c0 6.6281 5.37187 12 12 12C12.0703 24 12.1406 24 12.2109 23.9953V14.6578H9.63281V11.6531H12.2109V9.44063c0-2.56407 1.5657-3.96094 3.8532-3.96094 1.0968.0 2.039.0796900000000003 2.3109.11719V8.27812H16.8C15.5578 8.27812 15.3141 8.86875 15.3141 9.73594V11.6484h2.9765L17.9016 14.6531H15.3141v8.8828C20.3297 22.0969 24 17.4797 24 12z"
                                            fill="currentcolor"></path>
                                    </svg>
                                </i>
                            </a>
                            <a class="d-block mt-3 text-secondary" aria-label="Share to Twitter"
                                href="https://twitter.com/intent/tweet?text=Mengenal%20HTML5%20Vibration%20API%20untuk%20Membuat%20Getaran%20di%20HP https://www.petanikode.com/tutorial-html-vibrations/"
                                target="_blank" rel="noopener">
                                <i class="icon"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <title>Share ke Twitter</title>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M0 12C0 5.3736 5.3736.0 12 0S24 5.3736 24 12 18.6264 24 12 24 0 18.6264.0 12zM17.4869 9.71228C17.4869 9.59308 17.4844 9.47443 17.4791 9.35632 18.0168 8.96759 18.4843 8.48236 18.8529 7.92993 18.3594 8.14929 17.8284 8.29706 17.2712 8.36371 17.84 8.02258 18.2765 7.48315 18.4825 6.84027 17.9502 7.15576 17.361 7.38501 16.7335 7.50879 16.2308 6.97339 15.5153 6.63849 14.723 6.63849c-1.5211.0-2.7547 1.23358-2.7547 2.75409C11.9683 9.60864 11.9927 9.81885 12.0399 10.0206 9.75073 9.90546 7.72083 8.80939 6.36255 7.14276c-.23657.40704-.37299.87982-.37299 1.38446C5.98956 9.48285 6.47571 10.3264 7.21527 10.8199 6.76337 10.806 6.33893 10.6818 5.96777 10.4755 5.96741 10.487 5.96741 10.4982 5.96741 10.5106c0 1.3338.9494 2.4476 2.20971 2.6999C7.94568 13.2737 7.70215 13.3076 7.45074 13.3076 7.27368 13.3076 7.10101 13.29 6.93311 13.2578c.35083 1.0944 1.36743 1.8907 2.57318 1.913C8.56348 15.9097 7.37585 16.3499 6.08533 16.3499 5.86322 16.3499 5.64386 16.3372 5.42834 16.3118 6.64728 17.0931 8.09473 17.549 9.65021 17.549 14.7166 17.5488 17.4869 13.3519 17.4869 9.71228z"
                                            fill="currentcolor"></path>
                                    </svg>
                                </i>
                            </a>
                            <a class="d-block mt-3 text-secondary btn-share--linkedin" aria-label="Share to LinkedIn"
                                href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.petanikode.com/tutorial-html-vibrations/&amp;title=Mengenal%20HTML5%20Vibration%20API%20untuk%20Membuat%20Getaran%20di%20HP"
                                target="_blank" rel="noopener">
                                <i class="icon"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <title>Share ke Linkedin</title>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M0 12C0 5.3736 5.3736.0 12 0S24 5.3736 24 12 18.6264 24 12 24 0 18.6264.0 12zm5.59039 6.1406H8.51294V9.34808H5.59039V18.1406zM7.05176 8.14746H7.03271C6.052 8.14746 5.41772 7.47235 5.41772 6.6286c0-.86279.65369-1.51922 1.65345-1.51922C8.07092 5.10938 8.68616 5.76581 8.7052 6.6286c0 .84375-.63428 1.51886-1.65344 1.51886zM16.1288 18.1406H19.051V13.099c0-2.7006-1.4417-3.95728-3.3645-3.95728C14.1359 9.14172 13.441 9.9939 13.0527 10.593V9.34808H10.1303C10.1686 10.173 10.1303 18.1406 10.1303 18.1406h2.9224V13.2305C13.0527 12.9677 13.0715 12.7051 13.1488 12.5173c.2113-.525.6921-1.0688 1.4995-1.0688 1.0574.0 1.4805.806200000000001 1.4805 1.9883v4.7038z"
                                            fill="currentcolor"></path>
                                    </svg>
                                </i>
                            </a>
                            <a class="d-block mt-3 text-secondary" aria-label="Go to comments" href="#disqus_thread"
                                data-turbolinks="false">
                                <i class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        fill="currentcolor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                                        <title>Lihat komentar</title>
                                        <path
                                            d="M5 8A1 1 0 113 8a1 1 0 012 0zm4 0A1 1 0 117 8a1 1 0 012 0zm3 1a1 1 0 100-2 1 1 0 000 2z">
                                        </path>
                                        <path
                                            d="M2.165 15.803l.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06.0 008 15c4.418.0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437.0 01-.524 2.318l-.003.011a10.722 10.722.0 01-.244.637c-.079.186.074.394.273.362a21.673 21.673.0 00.693-.125zm.8-3.108a1 1 0 00-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06.0 01-2.088-.272 1 1 0 00-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97.0 00.398-2z">
                                        </path>
                                    </svg>
                                </i>
                            </a>
                        </nav>
                    </div>
                </div>
                <h1 class="card-title mb-4">{{ page.title }}</h1>
                <div class="mb-2">
                    {% for category in page.categories %}
                    <p class="d-inline badge bg-secondary">#{{ category }}</p>
                    {% endfor %}
                </div>

                <img src="{{page.image}}" class="card-img-top" alt="https://placeimg.com/640/480/any">
                <div class="card-body" id="content">
                    {{content}}
                </div>
            </div>

            <!-- Side section -->
            <div class="col-sm-12 col-lg-4 px-5 py-5 ">
                <div class="widget mb-5 d-none d-md-block hidden-print card p-4">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

               
            </div>


        </div>

        <div class="row">
            <div class="col-sm-12 col-lg-8 mb-5 mt-5 card px-5 py-5">
                {% include disqus.html %}
            </div>
        </div>
    </div>

    <!-- Footer -->
    {%- include footer.html -%}
</body>

</html>