<!DOCTYPE html>
<html lang="en">

<header>
    {%- include header.html -%}
    <link rel="stylesheet" href="{{ '/assets/css/tutorial.css' | relative_url }}">
  </header>

<body class="bg-light">

    <!-- Nav header component -->
    {%- include nav.html -%}

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid bg-dark text-white mb-0">
        <div class="container">
            <div class="row">
                <div class="col text-center" style="padding: 72px 0;">
                    <h1 class="h1">{{ page.title }}</h1>
                    <p class="lead">{{ page.excerpt }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body my-5 mx-5">
                        <div class="row">
                            <div class="col-lg-9 col-sm-12">
                                {{content}}
                            </div>
                            <div class="col-md-3 d-none d-lg-block">
                                <h5 class="mb-3">Tutorial lainnya:</h5>
                                <div class="list-group">
                                    <a href="/topik/android" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/android/android-plain.svg"
                                                        class="d-inline icon" width="24">
                                                    Android
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/topik/bootstrap/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/bootstrap/bootstrap-plain.svg"
                                                        class="d-inline icon" width="24">
                                                    Bootstrap
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/tutorial/c/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/c/c-plain.svg"
                                                        class="d-inline icon" width="24">
                                                    C Tutorial
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/tutorial/c++/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <div class="align-middle">
                                                        <img src="https://www.petanikode.com/images/icons/cplusplus/cplusplus-plain.svg"
                                                            class="d-inline icon" width="24">
                                                        C++ Tutorial
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/tutorial/cs/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/csharp/csharp-plain.svg"
                                                        class="d-inline icon" width="24">
                                                    C# Tutorial
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/tutorial/css/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/css3/css3-plain.svg"
                                                        class="d-inline icon" width="24">
                                                    CSS
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/tutorial/codeigniter" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/codeigniter/codeigniter-plain.svg"
                                                        class="d-inline icon" width="24">
                                                    Codeigniter
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/tutorial/git/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/git/git-plain.svg"
                                                        class="d-inline icon" width="24">
                                                    Git
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/tutorial/html/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/html5/html5-plain.svg"
                                                        class="d-inline icon" width="24">
                                                    HTML
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/topik/hugo/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/hugo/hugo-plain.svg"
                                                        class="d-inline icon" width="24">
                                                    Hugo
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/tutorial/java" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/java/java-original.svg"
                                                        class="d-inline icon" width="24">
                                                    Java
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/tutorial/javascript" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/javascript/javascript-original.svg"
                                                        class="d-inline icon" width="24">
                                                    Javascript
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/topik/laravel/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/laravel/laravel-plain.svg"
                                                        class="d-inline icon" width="24">
                                                    Laravel
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/topik/mongodb/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/mongodb/mongodb-plain.svg"
                                                        class="d-inline icon" width="24">
                                                    Mongodb
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/topik/mysql/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/mysql/mysql-plain.svg"
                                                        class="d-inline icon" width="24">
                                                    MySQL
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/topik/nodejs" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/nodejs/nodejs-plain.svg"
                                                        class="d-inline icon" width="24">
                                                    Nodejs
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/tutorial/python/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/python/python-original.svg"
                                                        class="d-inline icon" width="24">
                                                    Python
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/tutorial/php/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/php/php-plain.svg"
                                                        class="d-inline icon" width="24">
                                                    PHP
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/topik/react/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/react/react-original.svg"
                                                        class="d-inline icon" width="24">
                                                    Reactjs
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/topik/ruby/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/ruby/ruby-original.svg"
                                                        class="d-inline icon" width="24">
                                                    Ruby
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/topik/sass/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/sass/sass-original.svg"
                                                        class="d-inline icon" width="24">
                                                    SASS
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/topik/vuejs/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/vuejs/vuejs-original.svg"
                                                        class="d-inline icon" width="24">
                                                    Vuejs
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/topik/wordpress/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/wordpress/wordpress-plain.svg"
                                                        class="d-inline icon" width="24">
                                                    Wordpress
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/topik/yii/" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="align-middle">
                                                    <img src="https://www.petanikode.com/images/icons/yii/yii-original.svg"
                                                        class="d-inline icon" width="24">
                                                    Yii
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {%- include footer.html -%}
</body>

</html>