<!DOCTYPE html>
<html lang="en">

<style>
  a {
    text-decoration: none !important;
  }
</style>

<header>
  {%- include header.html -%}
</header>

<body>

  <!-- Nav header component -->
  {%- include nav.html -%}

  <!-- Jumbotron -->
  <div class="p-5 rounded-3" style="background-color: #fff0ed;">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-semibold text-center">Belajar apa kamu hari ini ?</h1>
    </div>
  </div>

  <main style="background-color: #fffdfc;">
    <div class="row row-cols-1 d-flex justify-content-between mt-5">
      <div class="col-md-12 col-lg-8 mx-auto mb-4">
        <div class="card shadow-lg border-white" tabindex="0">
          <div class="card-body p-4 d-flex flex-column flex-md-row align-items-center">
            <div>
              <a href="/tutorial/flutter/">
                <picture>
                  <img
                    src="https://ik.imagekit.io/u8uufhbnoej/blog/tutorials/flutter-tutorial-indonesia/Group_1__1__FsszgvCNh.png?updatedAt=1636171665903"
                    class="rounded mb-4 mb-md-0" alt="Belajar bahasa Kotlin"
                    style="object-fit:cover;width:140px;height:140px">
                </picture>
              </a>
            </div>
            <div class="mx-md-4">
              <h2 class="h5"><a class="text-dark" href="/tutorial/flutter">Tutorial Flutter Indonesia</a></h2>
              <p><small class="text-muted">By Farhan Roy</small></p>
              <p class="small text-secondary">Tutorial membuat aplikasi hybird dengan flutter</p>
            </div>


          </div>
        </div>


      </div>

      <div class="col-md-12 col-lg-8 mx-auto mb-4">

        <div class="card shadow-lg border-white" tabindex="0">
          <div class="card-body p-4 d-flex flex-column flex-md-row align-items-center">
            <div>
              <a href="/tutorial/flutter/">
                <picture>
                  <img
                    src="https://ik.imagekit.io/u8uufhbnoej/blog/tutorials/belajar-database-mysql/Frame_6_5dfPK7RjJ.png?updatedAt=1637306936152"
                    class="rounded mb-4 mb-md-0" alt="Belajar bahasa Kotlin"
                    style="object-fit:cover;width:140px;height:140px">
                </picture>
              </a>
            </div>
            <div class="mx-md-4">
              <h2 class="h5"><a class="text-dark" href="/tutorial/mysql">Belajar Database MySQL Untuk Pemula</a></h2>
              <p><small class="text-muted">By Farhan Roy</small></p>
              <p class="small text-secondary">Belajar menggunakan salah satu tool RDBMS yaitu MySQL untuk pemula</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-8 mx-auto mb-4">
        <div class="card shadow-lg border-white" tabindex="0">
          <div class="card-body p-4 d-flex flex-column flex-md-row align-items-center">
            <div>
              <a href="/tutorial/jetpackcompose/">
                <picture>
                  <img
                    src="https://ik.imagekit.io/u8uufhbnoej/blog/tutorials/jetpack-compose-tutorial/Frame_1_EdJi92RqsPq.png?updatedAt=1637306915601"
                    class="rounded mb-4 mb-md-0" alt="Tutorial Jetpack Compose Indonesia"
                    style="object-fit:cover;width:140px;height:140px">
                </picture>
              </a>
            </div>
            <div class="mx-md-4">
              <h2 class="h5"><a class="text-dark" href="/tutorial/jetpackcompose">Tutorial Jetpack Compose Indonesia</a></h2>
              <p><small class="text-muted">By Farhan Roy</small></p>
              <p class="small text-secondary">Membuat UI di Android Native dengan menggunakan toolkit UI baru Jetpack Compose</p>
            </div>
          </div>
        </div>
      </div>

  </main>

  <!-- Footer -->
  {%- include footer.html -%}
</body>

</html>