---
layout: tutorial
title:  "Belajar bahasa Kotlin"
date:   2021-08-16 13:08:07 +0700
permalink: /language/kotlin/
categories: tutorials
excerpt: "Bahasa pemrograman untuk mengembangkan aplikasi Android"
---

<h1>Belajar bahasa Kotlin</h1>

<ol class="vegan-list">
    <li><a href="/tutorial/kotlin/variable">Mengenal variable di bahasa kotlin</a></li>
</ol>